DATABASE_URL="file:./prisma/dev.db"
AUTH_SECRET="replace-me-super-secret"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
GOOGLE_CLIENT_ID="your-google-client-id"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="your-google-client-id"
